DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=barbearia
DIALOGFLOW_KEYFILE=./reservai_twilio.json
DIALOGFLOW_PROJECT_ID=reservai-twilio-qrps
CALENDAR_ID=99435b27c68a7a48eca3aa3ab9770b8d0207851464d88c89e55c763bfca69c0a@group.calendar.google.com
PORT=3000
